/**
 *  Global color variables.
 *	The underscore Never use them directly in the styles, only for functions and mixins.
 */

$_color-primary-500: #A68F4D !default;

$_color-secondary-500: #161849 !default;


$_color-text-100: #C4C4C4 !default;
$_color-text-500: #000 !default;



/**
 *  Organize color variables in a Sass Map.
 *  This way, the colors can be iterated, are more organized, and are more intuitive to reference.
 */
$palettes: (
        'primary': (
                base: $_color-primary-500,
        ),
        'secondary': (
                base: $_color-secondary-500,
        ),
        'text': (
                100: $_color-text-100,
                base: $_color-text-500,
        ),
);

