.s-contact-info{
  padding: 35px 0;
  @include mq(768){
    padding: 70px 0;
  }
}

.s-contact-info__intro{
  margin-bottom: 20px;
  @include mq(768){
    margin-bottom: 60px;
  }
  .c-intro-title{
    margin-bottom: 26px;
    @include mq(768){
      margin-bottom: 52px;
    }
  }
}

.s-contact-info__description{
  margin: 0 0 25px;
  @include font(base,26,400);
  text-align: center;
  @include mq(768){
    margin: 0;
    @include font(mid-large,30,400);
  }
}