.s-services {
  padding: 30px 0;
  @include mq(768){
    padding: 60px 0 30px;
  }
}

.s-services__flags {
  .c-intro-title {
    margin-bottom: 24px;
  }
}

.s-services__zagran-desc {
  padding: 6px 0 35px;
  .c-intro-description{
    margin: 20px 0;
    @include mq(768){
      margin: 0;
    }
  }
}

.s-services__polski {
  padding: 35px 0 0;

  .container{
    @include mq(1024){
      max-width: 740px;
    }
  }
}

.s-services__polski--first{
  margin: 0 0 36px;
  @include mq(768){
    margin: 0;
  }
}