.o-header {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  padding: 6px 0;
  z-index: 999;

  @include mq(993) {
    padding: 0 0 20px;
  }

  .container {
    max-width: 1030px;
  }

  @include mq(993){
    position: static;
  }

}

.o-header__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  @include mq(993) {
    display: block;
    margin: -20px 0 32px;
    text-align: center;
  }

  a {
    display: inline-block;
    max-width: 90px;
    @include mq(993) {
      max-width: 100%;
    }
  }

  .o-header--inline & {
    @include mq(993) {
      margin: -25px 0 0;
    }

  }
}



.o-header__top {
  display: none;
  @include mq(993) {
    display: block;
  }
}

.o-header__menu {
  display: none;
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 71px);
  z-index: 999;
  padding: 10px 10px 20px;
  background-color: palette(secondary);
  box-shadow: 0 12px 10px rgba(56, 75, 116, 0.1);
  @include mq(993) {
    display: block !important;
    position: static;
    padding: 0;
    box-shadow: none;
  }

  text-align: center;

  .o-header--inline & {
    @include mq(993){
      text-align: right;
    }
  }

  .o-header--inline & {
    @include mq(993) {
      transform: translateY(-50%);
    }
  }

  .c-header-cta{
    display: block;
    @include mq(993){
      display: none;
    }
  }
}

.o-header__logo-column {
  @include mq($max: 993) {
    flex: 0 0 100%;
    width: 100%;
  }
}


.o-header__mobile-btn {
  display: inline-block;
  @include mq(993) {
    display: none;
  }

  width: 26px;
  height: 18px;
  position: relative;
  margin-left: auto;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: palette(primary);
    border-radius: 0;
    opacity: 1;
    left: auto;
    right: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 0px;
    }

    &:nth-child(2) {
      top: 8px;
    }

    &:nth-child(3) {
      top: 16px;
    }
  }

  &.is-open {
    span {
      height: 2px;

      &:nth-child(1) {
        transform: rotate(45deg);
        top: 6px;
      }

      &:nth-child(2) {
        width: 0;
      }

      &:nth-child(3) {
        width: 100%;
        top: 6px;
        transform: rotate(-45deg);
      }
    }
  }
}