.o-footer {
  padding-bottom: 20px;
  @include mq(768){
    padding-bottom: 70px;
  }
}

.o-footer__divider {
  margin: 20px 0 40px;
  height: 1px;
  background-color: palette(secondary);

  @include mq(768){
    margin: 30px 0 78px;
  }
}

.o-footer__address {
  .textwidget {
    @include font(small, 18, 400);

    a {
      color: #000;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: palette(primary);
      }
    }
  }
}

.o-footer__newsletter {
  position: relative;
  margin: 0 0 30px;

  @include mq(768){
    margin: 0;
  }

}

.o-footer__social {
  position: absolute;
  top: -10px;
  right: 0;
}