.u-white {
    color: #fff;
}

.u-primary {
    color: palette(primary);
}

.u-bg-primary{
  background-color: palette(primary);
}

.u-bg-secondary{
  background-color: palette(secondary);
}

.u-color-text{
  color:palette(text);
}