.c-flag {
  display: flex;
  flex-wrap: wrap;
  //justify-content: center;
  margin: 0 -6px;
  @include mq(768){
    margin: 0 -8px;
  }
}

.c-flag__img {
  padding: 8px 6px;
  width: calc(100% / 4);
 /* @include mq(480) {
    width: calc(100% / 4);
  }*/
  @include mq(768) {
    padding:8px;
    width: calc(100% / 8);
  }

  img{
    margin: 0 auto;
  }
}