.c-newsletter {
}

.c-newsletter__form {
  display: flex;

  input[type="email"], input[type="submit"] {
    padding: 7px 12px;
    width: 50%;
    color: palette(primary);
  }

  input[type="email"] {
    border: 1px solid palette(primary);
    border-radius: 0;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: palette(primary);
      font-weight: 300;
    }

    &::-moz-placeholder { /* Firefox 19+ */
      color: palette(primary);
      font-weight: 300;
    }

    &:-ms-input-placeholder { /* IE 10+ */
      color: palette(primary);
      font-weight: 300;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: palette(primary);
      font-weight: 300;
    }
  }

  input[type="submit"] {
    @include font(l-small,25,700);
    background-color: palette(secondary);
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      opacity: 0.9;
    }
  }
}

.c-newsletter__terms {
  margin-top: 6px;
  line-height: 0;

  input[type="checkbox"] {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
  }

  label {
    position: relative;
    display: block;
    padding-left: 22px;
    @include font(m-small, 16, 400);
    color: palette(text, 100);
    cursor: pointer;
    &:after, &:before {
      content: '';
      position: absolute;
    }

    &:after {
      left: 5px;
      top: 4px;
      width: 4px;
      height: 8px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }

    &:before {
      top: 2px;
      left: 0;
      display: block;
      width: 14px;
      height: 14px;
      background-color: #fff;
      border: 1px solid palette(primary);
      transition: all 0.2s ease-in-out;
    }
  }

  input[type='checkbox']:checked + label {
    font-weight: 400;
    &:before {
      background-color: palette(primary);
    }
  }
}