.c-socials-menu {

}

.c-socials-menu__list {

}

.c-socials-menu__item {

}

.c-socials-menu__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  @include font(mid, 18, 700);
  color: palette(secondary);
  border: 1px solid palette(secondary);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: palette(secondary);
    color: palette(primary);
    border-color: palette(primary);
  }
}