.c-partner-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}

.c-partner-grid__column {
  width: 100%;
  padding: 5px;
  @include mq(480) {
    width: 50%;
  }
  @include mq(768) {
    width: 33.33%;
  }
  @include mq(940) {
    width: 25%;
  }
}


.c-partner {
  position: relative;
}

.c-partner__front {

}

.c-partner__logo {
  min-height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid palette(primary);
  border-bottom: 0;

  .c-intro-title {
    margin: 0;
  }
}

.c-partner__header {
  padding: 10px 6px;
  border: 1px solid palette(secondary);
  background-color: palette(secondary);
}

.c-partner__title {
  @include font(small, 18, 400);
  color: palette(primary);
  text-transform: uppercase;

  .c-partner__back & {
    margin-bottom: 22px;
  }
}

.c-partner__back {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 30px 20px 20px;
  background-color: palette(secondary);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  z-index: 3;
  @include mq(1025) {
    display: block;
    padding: 24px 20px 20px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    visibility: hidden;
  }

  .c-partner:hover & {

    @include mq(1025) {
      opacity: 1;
      visibility: visible;
    }
  }
}

.c-partner__description {
  @include font(small, 18, 400);
  color: #fff;

  a {
    color: inherit;

    &:hover {
      color: palette(primary);
    }
  }
}

.c-partner__close {
  display: block;
  position: absolute;
  top: 10px;
  right: 14px;
  width: 16px;
  height: 16px;
  color: #fff;
  z-index: 5;

  &:after, &:before {
    content: '';
    position: absolute;
  }

  @include mq(1025) {
    display: none;
  }
}