.c-addresses {

}

.c-addresses__map{
  display: block;
  img{
    margin: 20px auto 50px;
    @include mq(768){
      margin: 0;
    }
  }
}

.c-addresses__map--first{
  margin-bottom: 30px;
}

.c-addresses__content {
  a {
    color: #fff;
    transition: all 0.2s ease-in-out;
    &:hover{
      color:palette(primary);
    }
  }
}

.c-address__number {
  display: inline-block;
  margin-bottom: 12px;
  width: 28px;
  height: 28px;
  @include font-family(secondary);
  @include font(mid, 27, 400);
  color: palette(primary);
  border: 2px solid palette(primary);
  border-radius: 50%;
}