.c-intro-title {
  margin-bottom: 26px;
  @include font(base, 20, 400);
  color: palette(primary);
  text-transform: uppercase;

  @include mq(768){
    margin-bottom: 36px;
    @include font(mid, 22, 400);
  }
}

.c-intro-title--secondary{
  color:palette(secondary);
}

.c-intro-description {
  @include font(l-small, 25, 400);
  color: #fff;

  ul {
    padding-left: 20px;
    li {
      list-style-type: disc;
    }
  }
}

.c-intro-description--small{
  @include font(small, 20, 400);
}

.c-intro-description--light{
  font-weight: 300;
}