.c-form {
  .wpcf7-form-control-wrap {
    display: block;
    margin-top: 10px;
  }

  .wpcf7-checkbox, .wpcf7-radio {
    display: block;
    margin: 0 0 10px;
  }


  label {
    display: block;
    text-transform: uppercase;
  }

  input[type="text"], input[type="email"], input[type="tel"], textarea {
    display: block;
    width: 100%;
    padding: 14px 16px;
    @include font(base, 16, 400);
    color: palette(secondary);
    background: #fff;
    -webkit-appearance: none;
    border: 1px solid palette(primary);

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: palette(primary);
      font-weight: 300;
    }

    &::-moz-placeholder { /* Firefox 19+ */
      color: palette(primary);
      font-weight: 300;
    }

    &:-ms-input-placeholder { /* IE 10+ */
      color: palette(primary);
      font-weight: 300;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: palette(primary);
      font-weight: 300;
    }

    &:active, &:focus {
      border-color: palette(secondary);
    }

    &.wpcf7-not-valid {
      border-color: red;
    }
  }

  textarea {
    resize: none;
    min-height: 167px;
  }

  .wpcf7-not-valid-tip {
    margin-top: 6px;
    @include font(small, 12, 400);
    color: red;
  }

  .wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
    text-align: center;
    color: red;
    border-color: red;
  }

  input[type="submit"] {
    @extend .c-button;
    @extend .c-button--secondary;
    @extend .c-button--full;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
  }


  input[type='file'] {
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  .c-form__file-label {
    position: relative;
    display: inline-block;
    padding: 18px 18px 18px 56px;
    @include font(l-small, 14, 700);
    color: #fff;
    text-transform: uppercase;
    background-color: palette(primary);
    cursor: pointer;
    @include mq(768){
      display: block;
      padding: 18px 10px 18px 56px;
    }

    &:before {
      content: '';
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      width: 44px;
      height: 32px;
      background-image: url("../../img/icons/doc-icon.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
  }
}


// styling checkboxes and radio buttons
.c-form {
  .wpcf7-list-item {
    display: inline-block;
    margin: 0 20px 6px 0;
  }

  input[type='checkbox'], input[type='radio'] {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
  }

  .wpcf7-list-item-label {
    position: relative;
    @include font(small, 24, 300);
    color: palette(text);
    text-transform: none;
    cursor: pointer;
  }

  input[type='checkbox'] + .wpcf7-list-item-label {

  }

  input[type='checkbox'] + .wpcf7-list-item-label {
    padding-left: 28px;

    &:after, &:before {
      content: '';
      position: absolute;
    }

    &:after {
      left: 8px;
      top: 0;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }

    &:before {
      top: -4px;
      left: 0;
      display: block;
      width: 20px;
      height: 20px;
      background-color: #fff;
      border: 1px solid palette(primary);
      transition: all 0.2s ease-in-out;
    }
  }

  input[type='checkbox']:checked + .wpcf7-list-item-label {
    font-weight: 400;

    &:before {
      background-color: palette(primary);
    }
  }

  input[type='radio'] + .wpcf7-list-item-label {
    padding-left: 28px;

    &:before {
      content: '';
      position: absolute;
      top: -4px;
      left: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: inset 0 0 0 1px palette(primary);
      transition: all 0.2s ease-in-out;
    }
  }

  input[type='radio']:checked + .wpcf7-list-item-label {
    font-weight: 400;

    &:before {
      box-shadow: inset 0 0 0 6px palette(primary);
    }
  }
}


// Form grid

.c-form__row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  @include mq(768) {
    margin: 0 -5px;
  }
}

.c-form__column {
  padding: 0;
  width: 100%;
  @include mq(768) {
    padding: 5px;
    width: 50%;
  }
}

.c-form__column-wide {
  flex-grow: 1;
  padding: 5px;

  .wpcf7-form-control-wrap {
    margin-top: 0;

    textarea {
      min-height: auto;
    }
  }
}

.c-form__column-full{
  padding: 5px;
  width: 100%;
}


.c-form__column-submit {
  padding: 5px;
  width: 100%;
  @include mq(768) {
    width: auto;
    flex: 0 0 170px;
  }

  input[type="submit"] {
    min-width: 170px;
  }
}