.c-wysiwyg {

  h2{
    @include font(18, 25, 500);
    font-style: italic;
    color: palette(primary);
  }

  p{
    @include font(l-small, 25, 300);
  }

  ul{
    padding-left: 17px;
    li{
      list-style-type: disc;
      @include font(l-small, 25, 300);
    }
  }

}

