.c-header-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  @include mq(993) {
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
}

.c-header-cta__phone {
  width: 100%;
  transition: all 0.3s linear;
  text-align: center;
  @include mq(993) {
    position: relative;
    z-index: 4;
    display: flex;
    align-items: center;
    width: auto;
    transform: translateX(calc(100% - 55px));
  }

  a {
    @include font(l-small, 18, 400);
    color: #fff;
  }

  &:hover {
    transform: translateX(0);
  }
}

.c-header-cta__phone-icon {
  display: none;
  @include mq(993) {
    display: inline-block;
    padding-right: 20px;
  }
}

.c-header-cta__phone-links {
  margin: 20px 0 30px;
  @include mq(993) {
    margin: 0;
    padding-right: 20px;
  }
}

.c-header-cta__btn {
  position: relative;
  z-index: 5;

  .c-button {
    &:hover {
      opacity: 1;
    }
  }
}