button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.c-button {
  display: inline-block;
  min-width: 214px;
  padding: 18px 10px;
  @include font(l-small, 14, 700);
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  &:hover {
    opacity: 0.9;
  }
}


.c-button--primary {
  background-color: palette(primary);
  color: #fff;
}

.c-button--secondary {
  background-color: palette(secondary);
  color: palette(primary);
}

.c-button--full {
  display: block;
  width: 100%;
}


.is-disabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}

.c-button--icon{
  position: relative;
  @include mq(993){
    padding-left: 40px;
  }
}

.c-button__icon{
  display: none;
  position: absolute;
  top:50%;
  left: 12px;
  transform: translateY(-50%);
  @include mq(993){
    display: block;
  }
}