.c-main-menu {
  .c-main-menu__container{
    .o-header:not(.o-header--inline) &{
      @include mq(993){
        max-width: 820px;
        margin: 0 auto;
      }
    }
  }
  .c-main-menu__list {
    .o-header:not(.o-header--inline) &{
      @include mq(993){
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
    }
    .menu-item {
      display: block;
      padding: 12px 0;
      @include mq(993) {
        display: inline-block;
        padding: 0;
      }

      a {
        position: relative;
        display: inline-block;
        padding: 3px 0;
        @include font-family(secondary);
        @include font(small, 18, 400);
        color: palette(primary);
        text-transform: uppercase;
        letter-spacing: 0.05em;
        transition: all 0.2s ease-in-out;

        &:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0;
          height: 2px;
          background-color: palette(primary);
          transition: width 0.3s linear;
        }

        &:hover {
          color: #fff;

          &:after {
            width: 100%;
          }
        }
      }

      &.current-menu-item {
        a {
          color: #fff;

          &:after {
            width: 100%;
          }
        }
      }

      &:not(:last-child) {
        @include mq(993){
          margin-right: 40px;
        }
      }
    }
  }
}

